.condicoes__especiais {
    display: flex;
    padding: 1.5em;
    background: url('../img/bolinha_rosa.png') no-repeat;
    background-size: 100px 115px;
    background-position: 100% 100%;
    margin-bottom: 12em;
    
}

.container__especial {
    display: flex;
    flex-wrap: wrap;
    height: 221px;
    background: #F8F8F8;
    border-radius: 16px;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.05);
    /*
    background: url('../img/circulo_azul.png') no-repeat;
    background-size: 110px 114px;
    background-position: 100% 0%;*/
}

.especiais__imagem {
    width: 116px;
    height: 137px;
    margin-left: 14em;
    margin-bottom: -2em;
    margin-top: -6em;
}

.especiais__imagem_rosa {
    width: 100px;
    height: 165px;
}

.especial__titulo {
    color: var(--laranja);
    font-weight: 800;
    font-size: 17px;
    line-height: 109.4%;
    letter-spacing: 0.08em;
    padding: 1em 2em;
    width: 50%;
}

.especial__texto {
    color: var(--azul-escuro);
    font-size: 7px;
    font-weight: 700;
    line-height: 14.73px;
    letter-spacing: 0.035em;
    padding: 0em 6em;
}

.especial__botao {
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    font-size: 7px;
    line-height: 126.4%;
    letter-spacing: 0.05em;
    border-radius: 6px;
    color: var(--branco);
    background-color: var(--laranja);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    padding: 1em;
    margin: 3em 3em;
    margin-left: 9em;
}

.container__historia {
    display: flex;
    margin-top: 7em;
    margin-left: 2em;
}

.container__numero {
    display: flex;
    margin-left: 2em;
}

.historia__texto {
    color: var(--laranja);
    font-size: 17px;
    font-weight: 800;
    width: 17%;
    margin-top: -0.5em;
}

.texto__dois {
    font-size: 38px;
    font-weight: 800;
    width: 66%;
}

.numero__texto_um {
    color: var(--azul-escuro);
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.numero__texto_dois {
    color: var(--azul-escuro);
    width: 60%;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.02em;
    margin-top: 1em;
    margin-left: 0.3em;

}


@media screen and (min-width: 1024px) {
    .condicoes__especiais {
        background: url('../img/bolinha_rosa.png') no-repeat;
        background-size: 400px 330px;; 
        background-position: 100% 80%;
    }
    
    .container__especial {
        height: 885px;
        background: #F8F8F8;
        border-radius: 81px;
        box-shadow: 0px 4px 9px 1px rgb(0 0 0 / 5%);
        /*
        background: url(../img/circulo_azul.png) no-repeat;
        background-size: 350px 300px;*/
        background-position: 86% 0%;
        margin-bottom: 16em;
    }

    .especial__titulo {
        color: var(--laranja);
        font-weight: 800;
        font-size: 58px;
        line-height: 109.4%;
        letter-spacing: 0.08em;
        width: 40%;
    }

    .especiais__imagem {
        width: 470px;
        height: 463px;
        margin-left: 1em;
    }


    .especial__texto {
        color: var(--azul-escuro);
        font-size: 26px;
        font-weight: 700;
        line-height: 210.4%;
        letter-spacing: 0.035em;
    }

    .especial__botao {
        font-size: 26px;
    }

        
    .container__historia {
        margin-top: 20em;
        margin-left: 12em;
    }

    .container__numero {
        margin-top: 0em;
        margin-left: 14em;
    }

    .historia__texto {
        color: var(--laranja);
        font-size: 96px;
        font-weight: 800;
        width: 17%;
        margin-top: -0.5em;
    }

    .texto__dois {
        font-size: 131px;
        font-weight: 800;
        width: 49%;
    }

    .numero__texto_um {
        color: var(--azul-escuro);
        font-size: 195px;
        font-weight: 800;
        letter-spacing: 0.02em;
    }

    .numero__texto_dois {
        color: var(--azul-escuro);
        width: 60%;
        font-size: 58px;
        font-weight: 800;
        letter-spacing: 0.02em;
        margin-top: 0.4em;
        margin-left: 0.3em;

    }
    
}




@media screen and (min-width: 1220px) {
    .condicoes__especiais {
        background-size: 403px 560px;
        background-position: 100% 60%;
    }

    .especial__titulo {
        width: 40%;
    }


    .especiais__imagem {
        width: 400px;
        height: 400px;
        margin-left: 4em;
    }

    .container__texto {
        margin-top: 0em;
    }

    .container__historia {
        margin-top: 16em;
    }

    .texto__dois {
        width: 48%;
    }
    /*
    .container__numero {
        margin-left: 7em;
        
    }
    */
    .numero__texto_dois {
        margin-top: 1em;
        margin-left: 0em;
        width: 100%;
    }

}





/*Layout desktop*/

@media screen and (min-width: 1728px) {

    .condicoes__especiais {
        background: url('../img/bolinha_rosa.png') no-repeat;
        background-size: 403px 560px;
        background-position: 100% 60%;
    }
    
    .container__especial {
        height: 885px;
        background: #F8F8F8;
        border-radius: 81px;
        box-shadow: 0px 4px 9px 1px rgb(0 0 0 / 5%);
        /*
        background: url(../img/circulo_azul.png) no-repeat;
        background-size: 350px 300px;
        background-position: 86% 0%;*/
        margin-bottom: 27em;
    }

    .especiais__imagem {
        width: 567px;
        height: 563px;
        margin-left: 16em;
    }


    .especial__titulo {
        color: var(--laranja);
        font-weight: 800;
        font-size: 58px;
        line-height: 109.4%;
        letter-spacing: 0.08em;
        width: 30%;
    }

    .container__texto {
        margin-top: -7em;
    }


    .especial__texto {
        color: var(--azul-escuro);
        font-size: 26px;
        font-weight: 700;
        line-height: 210.4%;
        letter-spacing: 0.035em;
    }

    .especial__botao {
        font-size: 26px;
    }

        
    .container__historia {
        margin-top: 28em;
        margin-left: 19em;
    }

    .container__numero {
        margin-top: 0em;
        margin-left: 23em;
    }

    .historia__texto {
        color: var(--laranja);
        font-size: 96px;
        font-weight: 800;
        width: 17%;
        margin-top: -0.5em;
    }

    .texto__dois {
        font-size: 131px;
        font-weight: 800;
        width: 49%;
    }

    .numero__texto_um {
        color: var(--azul-escuro);
        font-size: 195px;
        font-weight: 800;
        letter-spacing: 0.02em;
    }

    .numero__texto_dois {
        color: var(--azul-escuro);
        width: 60%;
        font-size: 58px;
        font-weight: 800;
        letter-spacing: 0.02em;
        margin-top: 1em;
        margin-left: 0em;

    }
    
}