.chega__problemas {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--rosa);
}

.problemas__titulo {
    color: var(--azul-escuro);
    font-size: 35px;
    font-weight: 800;
    line-height: 35.67px;
    letter-spacing: 0.02em;
    margin: 1em 2em;

}

.problemas__subtitulo {
    color: var(--branco);
    font-size: 19px;
    font-weight: 800;
    line-height: 21.17px;
    letter-spacing: 0.02em;
    margin-left: 6em;
    margin-bottom: 3em;
}

/*Layout desktop*/

@media screen and (min-width: 1728px) {
    .problemas__titulo {
        color: var(--azul-escuro);
        font-size: 106px;
        font-weight: 800;
        line-height: 108.01px;
        letter-spacing: 0.02em;
        width: 50%;
        margin-left: 3.5em;
    }

    .problemas__subtitulo {
        color: var(--branco);
        font-size: 61px;
        font-weight: 800;
        line-height: 67.95px;
        letter-spacing: 0.02em;
        width: 50%;
        margin-left: 8em;
    }
}